body{
	width:100%;
	border:0;
	padding:0;
	font-family:'courier new';
	background-color:#eee;
}

h1{
	color:#F72E2A;
	margin-top:0;
}

#container{
	text-align:center;
	width:500px;	
	margin:0 auto;
}

#form{
	padding-top:500px;
}

#matchups{
	margin-top:8px;
	text-align:center;
	white-space:nowrap;
}

#matchups span.tag{
	padding: 10px; 
	text-decoration:none; 
	background: #F72E2A; 
	color: white; 
	font-family: 'courier new';  
	font-size:13px;
}

#paddle{
	width:500px;
	height:500px;
	position:absolute;
	background-image:url('../images/paddle.png');
}

#ball{
	z-index:1;
	position:absolute;
	top:150px;
	left:43%;
	width:109px;
	height:109px;
	background-image:url('../images/ball.png');
}

input[type="submit"]{
	border:0;
	width:250px;
	height:45px;
	margin-top:10px;
	color:white;
	background:#F72E2A;
	cursor:pointer;
	font-size:13px;
	font-family:'courier new';
}
